ion-content {
    .top-art {
        position: fixed;
        top:0;
        left:0;
        width:100%;
    }

    .avatar {
        position: fixed;
        top: 10%;
        left: 10%;
        width: 26vw;
        height: 26vw;
        border: 4px solid #fff;
        border-radius: 20px;
        background: #888;
        z-index: 11;  
        overflow: hidden;    
    
        img {
            width: 100%;
            height: auto;
            background-position: center;
            background-size: cover;
        }
    } 
    .centeralign {
        left: 37%;
    }
    
    .change-avatar {
        width: 32px;
        position: absolute;
        height: 32px;
        top: 0px;
        left: 35%;
        font-size: 23px;
        z-index: 11;
        color: #ffca22;
        border: 1px solid #FFFFFF;
        padding: 3px;
        border-radius: 50%;
    } 
    .ch-avatar {
        left: 62%;
    }

    .name {
        position: fixed;
        top: 14%;
        right: 0px;
        width: 56vw;
        z-index: 11;          

        ion-label {            
            font-weight: 800;
            @media (max-device-width: 600px) {
                font-size: 2rem;
            }
            @media (min-device-width: 601px) {
                font-size: 2.5rem;
            }
            @media (min-device-width: 1024px) {
                font-size: 3rem;
            } 
        }            
    } 
    .hide {
        display: none;
    }

    ion-list {
        @media (max-device-width: 600px) {
            margin-top: 34vh;
            width: 100%;
        }
        @media (min-device-width: 601px) {
            margin-top: 40vh;
            width: 80%;
        }
        @media (min-device-width: 1024px) {
            margin-top: 40vh;
            width: 60%;
        } 
        
        ion-label{
            @media (max-device-width: 600px) {
                font-size: 1.5rem;
                margin-left: 5vw;
            }
            @media (min-device-width: 601px) {
                font-size: 2rem;
                margin-left: 3vw;
            }
            @media (min-device-width: 1024px) {
                font-size: 2.5rem;
                margin-left: 2vw;
            }   
        }
        ion-item {
            --highlight-color-focused: none;
            margin-bottom: 1rem;
            @media (max-device-width: 600px) {
                font-size: 1.5rem;
            }
            @media (min-device-width: 601px) {
                font-size: 2rem;
            }
            @media (min-device-width: 1024px) {
                font-size: 2.5rem;
            } 

            ion-icon {
                @media (max-device-width: 600px) {
                    font-size: 2rem;
                }
                @media (min-device-width: 601px) {
                    font-size: 2.5rem;
                }
                @media (min-device-width: 1024px) {
                    font-size: 3rem;
                }      
            }            
            
            ion-input {
                border: 1px solid #D3D3D3;
                box-sizing: border-box;
                border-radius: 10px;
                --padding-start: 10px;
            } 
            
            ion-button {
                margin-left: 10px;
                --background: transparent;
                --background-activated: transparent;
                --background-activated-opacity: 0;
            }
        }
    }       
}