ion-content {
  * {
    box-sizing: border-box;
  }

  .wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem;
  }

  .acc-wrapper {
    display: flex;
    flex-direction: column;
  }

  // Default acc CSS
  .acc-toggle {
    border-radius: 20px;
    color: #0075eb;
    position: relative;
    cursor: pointer;

    label {
      background-color: #0075eb;
      font-size: 1.5rem;
      color: #e5f1fd;
      border-radius: 10px;
      cursor: pointer;
      padding: 1rem;
      text-align: right;
      border: none;
      float: right;
      margin: 0.5rem 0rem;
      width: auto;
      outline: none;
    }

    .acc-indicator {
      position: absolute;
      top: 18px;
      right: 30px;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }

  .acc-body {
    display: none;

    p {
      font-size: 1.5rem;
      color: #0075eb;
      background: #e5f1fd;
      width: fit-content;
      margin-top: 30%;
      padding: 1rem;
      border-radius: 20px;
    }
  }

  .acc-body.acc-body-active {
    position: absolute;
    top: 47%;
    width: 90%;
    display: flex;
    flex-direction: column;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: slide-in_fromLeft;
  }

  .support {
    color: #0075eb;
    font-size: 1.5rem;
    background-color: #e5f1fd;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 10%;
  }

  .sendMessage {
    position: fixed;
    bottom: 12%;
    width: 90%;
    margin: 1.5rem;
    font-weight: bold;
    background-color: #70b970;
    font-size: 1.5rem;
    color: #e5f1fd;
    border-radius: 10px;
    padding: 1rem;
    animation: fadeInOut 5s linear forwards;
  }

  ion-row {
    width: 100%;
    ion-label {
      padding: 1.5rem;
      text-align: center;
      @media (max-device-width: 600px) {
        font-size: 1.5rem;
      }
      @media (min-device-width: 601px) {
        font-size: 2rem;
      }
      @media (min-device-width: 1024px) {
        font-size: 2.5rem;
      }
    }
  }

  @keyframes slide-in_fromLeft {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

ion-footer {
  ion-toolbar {
    ion-input {
      font-size: 1.6rem;
    }
    ion-icon {
      font-size: 2.5rem;
      color: #0075eb;
    }
  }
}

