ion-grid {
    .head_skeleton {
        height: 26vh;
    }

    .welcome_skeleton {
        height: 4vh;
    }

    .art {
        width: auto;
        height: 40vh;
    }

    .img-top {
        // position: fixed;
        top: 4rem;
        z-index: 0;
    }

    .heading {
        @media (max-device-width: 600px) {
            font-size: 1.5rem;
        }
        @media (min-device-width: 601px) {
            font-size: 2.5rem;
        }
        @media (min-device-width: 1024px) {
            font-size: 3.5rem;
        }
    }

    .sub-heading {
        @media (max-device-width: 600px) {
            font-size: 1.8rem;
        }
        @media (min-device-width: 601px) {
            font-size: 2.5rem;
        }
        @media (min-device-width: 1024px) {
            font-size: 3.5rem;
        }
    }

    ion-row {
        --ion-row-margin: 3%;
        margin: 3%;
    }

    ion-button {
        --border-color: #dfdfdf;
        text-transform: none;
        color: #030952;
        margin-top: 6vh;
    }

    .list-row {
        // margin-top: 30vh;
        ion-list {
            width: 100%;
            ion-item {
                font-family: Lato;
                color: #0f187d;
                img {
                    border-radius: 10px;
                }

                .time-box {
                    margin: 0;
                    ion-row {
                        margin: 0;
                    }
                }
            }
        }
    }

    .next-button {
        width: 90vw;
        height: 4rem;
        @media (max-device-width: 600px) {
            font-size: 1.5rem;
        }
        @media (min-device-width: 601px) {
            font-size: 2rem;
        }
        @media (min-device-width: 1024px) {
            font-size: 2.5rem;
        }
    }

    .time-left {
        color: #030952;
        font-size: 1rem;
        @media (min-device-width: 601px) {
            font-size: 1.5rem;
        }
        @media (min-device-width: 1024px) {
            font-size: 2rem;
        }
    }

    .days-hours-count {
        color: #030952;
        font-size: 1.8rem;
        @media (min-device-width: 601px) {
            font-size: 2.2rem;
        }
        @media (min-device-width: 1024px) {
            font-size: 2.5rem;
        }
    }

    .days-hours {
        color: #030952;
        font-size: 1rem;
        @media (min-device-width: 601px) {
            font-size: 1.5rem;
        }
        @media (min-device-width: 1024px) {
            font-size: 2rem;
        }
    }

    .eventName {
        color: #030952;
        font-size: 1.4rem;
        font-weight: bold;
    }
    .eventType {
        color: #030952;
        font-size: 1.4rem;
    }
    .eventVenue {
        color: #030952;
        font-size: 1.4rem;
    }
}

.welcome {
    font-size: 3.6rem;
    font-weight: bold;
    color: #030952;
    margin-top: 5%;
    margin-left: 2%;
    text-align: left;
}
