<ion-content>
    <ion-grid>
        <ion-row>
            <ion-label class="goal__title">{{ 'GOAL.WHATS_YOUR_GOAL?' | translate }}</ion-label>
        </ion-row>       
        <ion-row>
          <ion-label class="goal__subtitle">{{ 'GOAL.TELL_US_WHAT_YOUR_MAIN_GOAL_IS_WITH_THIS_EVENT' | translate }}</ion-label>
        </ion-row>     
        <ion-row>
            <ion-label class="goal__subtitle-2">{{ 'GOAL.YOU_JOINED_THIS_EVENT_TO' | translate }}...</ion-label>
        </ion-row>
        <ion-row class="ion-justify-content-center" *ngFor="let persona of personas">
            <ion-button expand="block" color="light" (click)="addPersona(persona)">{{persona.title}}</ion-button>
        </ion-row>
        <!--         <ion-row class="ion-justify-content-center">
            <ion-button expand="block" color="light" routerLink="/camera">Challenge yourself or compete</ion-button>
            <ion-button expand="block" color="light" routerLink="/camera">{{ 'GOAL.CHALLENGE_YOURSELF_OR_COMPETE' | translate }}</ion-button>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-button expand="block" color="light" routerLink="/camera">Be social and have fun</ion-button>
            <ion-button expand="block" color="light" routerLink="/camera">{{ 'GOAL.BE_SOCIAL_AND_HAVE_FUN' | translate }}</ion-button>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-button expand="block" color="light" routerLink="/camera">Improve your fitness and well-being</ion-button>
            <ion-button expand="block" color="light" routerLink="/camera">{{ 'GOAL.IMPROVE_YOUR_FITNESS_AND_WELL-BEING' | translate }}</ion-button>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-button expand="block" color="light" routerLink="/camera">Not really sure</ion-button>
            <ion-button expand="block" color="light" routerLink="/camera">{{ 'GOAL.NOT_REALLY_SURE' | translate}}</ion-button>
        </ion-row> -->
    </ion-grid>    
    <img src="assets/img/goalart.png"/>
</ion-content>

