ion-content {

    // --background: linear-gradient(161.64deg, #0B107B 11.32%, rgba(0, 0, 0, 0) 92.13%), #5754EF;

    --padding: 0;
    --margin:0;
    --width: 100vw;
    --height: 100vh;

    .congrats-container {
        height: 45vh;
        margin: 0;
        padding: 0;
        width: 100%;
        background: linear-gradient(161.64deg, #0B107B 11.32%, rgba(0, 0, 0, 0) 92.13%), #5754EF;
    }
    .congrats-container-sponsor {
        height: 45vh;
        margin: 0;
        padding: 0;
        width: 100%;

        .sponsor-logo {
            height: 25vh;
            width: auto;
        }
    }

    .head, .sub-head {
        font-family: Lato;
        font-style: normal;
        color: #ffffff;
    }

    .head {     
        margin-top: 8rem;
        text-align: center;   
        font-weight: 900;
        font-size: 3.6rem;                                                                                          
    }

    .sub-head {
        font-size: 1.8rem;
        font-weight: 800;
        text-align: center;
        margin-top: 4rem;
        width: 80%;                                              
        @media
        (min-device-width: 601px) {
            font-size: 2rem;
        }   
        @media
        (min-device-width: 1024px) {
            font-size: 3rem;
        }                                                                                                 
    }

    .days-left {
        color: white; 
        font-size: 1.3rem; 
        font-weight: 800;
        padding: 2rem;
    }

    .sponsor-msg {
        color: #000;
        text-align: center;
        font-size: 2.8rem;
        padding: 2rem;
        word-break: break-word;
    }

    ion-row {
        img {
            height: 24rem;
            width: auto;
        }
    }

    ion-toolbar{
        position: fixed;
        bottom: 0;
        padding: 3%;
        ion-button {
            --border-radius: 15px;
            }                                                
        
       
        
    }
    .continue-btn {
        margin: 5vh auto;
        height: 4rem;
        width: 90vw;
        font-size: 1.6rem;
        @media (max-device-width: 600px) {
            font-size: 1.5rem;
            width: 90%;
        }
        @media (min-device-width: 601px) {
            font-size: 2rem;
            width: 80%;
        }
        @media (min-device-width: 1024px) {
            font-size: 2.5rem;
            width: 60%;
        }     
    }
        
}
