<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="events">
        <ion-icon src="assets/icon/events.svg"></ion-icon>
        <ion-label>{{ 'TABS.EVENTS' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="preps">
        <ion-icon src="assets/icon/preps.svg"></ion-icon>
        <ion-label>{{ 'TABS.PREPS' | translate }}</ion-label>          
      </ion-tab-button>

      <ion-tab-button tab="questions">
        <ion-icon src="assets/icon/questions.svg"></ion-icon>
        <ion-label>{{ 'TABS.QUESTIONS' | translate }}</ion-label>               
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon src="assets/icon/profile.svg"></ion-icon>
        <ion-label>{{ 'TABS.PROFILE' | translate }}</ion-label>       
      </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>